.about .docs-navigation .about, .templates .docs-navigation .templates, .started .docs-navigation .started, .styles .docs-navigation .styles, .components .docs-navigation .components, .faq .docs-navigation .faq, .customize .docs-navigation .customize {
    opacity: 1;
    border-bottom-color: #18FFFF;
}
.app-icon {
    height: 20px;
    width: 20px;
}
