
.mdl-layout__header .mdl-layout__header-row {
    // background: #ffffff;
    color: #1B7EC2;
    height: 80px;
    box-shadow: none !important;

    #menu {
        display: none;
    }
}

.mdl-layout__drawer {
    background: #1B7EC2;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: none;
    border: 0px;
}

.mdl-layout__header .mdl-layout__drawer-button{
    color: black;
}

.mdl-navigation {
    position: relative;
    top: 15%;
}
.nav-item {
    height: 40px;
    line-height: 40px;
    align-self: flex-end;
    margin-bottom: 5%;
    width: 75%;
    color: #ffffff;
    padding-left: 15%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.nav-item-active {
    height: 40px;
    line-height: 40px;
    align-self: flex-end;
    margin-bottom: 5%;
    width: 75%;
    background-color: #ffffff;
    color: #1B7EC2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.page-content {
    height: 100%;
    width: 100%;
}

.icon {
    display: inline-block;
    width: 40px;
    pointer-events: none;

    i{
        font-size: 130%;
        margin-right: 100px;
    }
}


@media screen and (max-width: 664px) {
    .mdl-layout__header .mdl-layout__header-row {
        // background: #ffffff;
        color: #1B7EC2;
        height: 80px;
        box-shadow: none !important;
        padding-left: 40px;
    }

    #menu {
        display: block!important;
        background-color: #ffffff;
        border: none;
        

    }
    #menu:focus {
        outline: 0;
    }

    .mdl-navigation {
        display: none;
    }
}