.bulk-sms {
    background-size: 65%!important;
}
.main-section {
    width: 100%;
    height: 95%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Roboto Slab', serif;

    .msg-sect {
        position: relative;
        left: 10%;
        top: 25%;
        width: 30%;
        color: rgb(41, 89, 121);
        line-height: 190%;

        .msg-title {
            font-size: 2.8em;
            font-weight: 900;
            margin-bottom: 7%;
        }
        .msg-content {
            font-size: 1.7em;
            font-weight: 600;
        }
    }
}
.service-sect {
    height: 110%;
    width: 100%;
    background: rgb(237, 243, 247);
    font-family: 'Roboto Slab', serif;

    .service-sect-title {
        display: flex;
        justify-content: center;
        font-size: 2.2em;
        font-weight: 900;
        color: rgb(41, 89, 121);
        margin-bottom: 5%;
        padding-top: 5%;
    }
    .all-services-sect {
        display: flex;
        height: 70%;
        width: 100%;
        justify-content: space-evenly;

        .service-opt {
            width: 20%;
            height: 90%;
            background: #ffffff;
            color: rgb(41, 89, 121);

            .service-svg {
                height: 55%;
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            .service-title {
                height: 10%;
                text-align: center;
                padding: 5%;
                font-size: 2rem;
                line-height: 110%;
                font-weight: 700;
            }
            .service-content {
                text-align: center;
                padding: 6%;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
        .service-opt:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 17px rgb(194, 221, 240), 0 10px 5px rgb(194, 221, 240);
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
        }
    }
}

.features-sect {
    background: #ffffff;
    padding-bottom: 30px;

    .features-title {
        display: flex;
        justify-content: center;
        font-size: 2.2em;
        font-weight: 900;
        color: #295979;
        margin-bottom: 3%;
        padding-top: 3%;
    }
    .features-row {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 320px;
        margin-bottom: 1%;
        .feature {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
            position: relative;
            display: inline-block;
            height: 100%;
            width: 20%;
            margin-left: 10px;
            .feature-title {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                height: 200px;
                line-height: 200px;
                width: 200px;
                border-radius: 50%;
                background: #1B7EC2;
                color: #ffffff;
                font-size: 1.2em;
                opacity: 1!important;
                font-weight: 800;
            }

            .feature-display {
                width: 100%;
                height: 100%;            
                position: absolute;
                top: 0;
                left: 0;
                background-color: #1B7EC2;
                opacity: 1;
                visibility: hidden;
                .feature-display-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40%;
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: 800;
                    color: #ffffff;
                    border-bottom: 0.5px #ffffff solid;
                }
                .feature-display-content {
                    color: #ffffff;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    height: 60%;
                    padding: 10px;
                    line-height: 110%;
                    font-size: 1.4em;
                    font-weight: 300;
                }
            }
        }
        .feature::after {
            position: absolute;
            background-color: #1B7EC2;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.3;
        }
        .feature:hover > .feature-display {
            visibility: visible;
            -webkit-transition: all .7s ease-in-out;
            -moz-transition: all .7s ease-in-out;
            -o-transition: all .7s ease-in-out;
            -ms-transition: all .7s ease-in-out;
        }
        .feature:hover > .feature-title {
            visibility: hidden;
        }
    }
}