.bulk-sms {
    background-size: 65%!important;
}
.main-section {
    width: 100%;
    height: 95%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Raleway', sans-serif;

    .msg-sect {
        position: relative;
        left: 10%;
        top: 25%;
        width: 30%;
        // color: rgb(41, 89, 121);
        color: #1B7EC2;
        line-height: 190%;

        .msg-title {
            font-size: 1.6em;
            font-weight: 800;
            margin-bottom: 7%;
            text-transform: uppercase;
        }
        .msg-content {
            font-size: 1.5em;
            font-weight: 600;
            line-height: 110%;
            text-transform: lowercase;
        }
    }
}
.service-sect {
    height: 100%;
    width: 100%;
    background: rgb(237, 243, 247);
    font-family: 'Raleway', sans-serif;

    .service-sect-title {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 900;
        // color: rgb(41, 89, 121);
        color: #1B7EC2;
        // margin-bottom: 5%;
        padding-top: 4%;
        text-transform: uppercase;
    }
    .all-services-sect {
        display: flex;
        height: 70%;
        width: 100%;
        justify-content: center;

        .service-opt {
            width: 20%;
            height: 90%;
            background: #ffffff;
            color: #1B7EC2;
            margin: 40px;

            .service-svg {
                height: 55%;
                background-size: 70%;
                background-position: center;
                background-repeat: no-repeat;
            }
            .service-title {
                height: 10%;
                text-align: center;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 2%;
                font-size: 1.5rem;
                line-height: 110%;
                font-weight: 700;
            }
            .service-content {
                text-align: center;
                padding: 6%;
                padding-top: 3%;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
        .service-opt:hover {
            position: relative;
            top: -2%;
            transform: scale(1.03);
            box-shadow: 0 10px 17px rgb(194, 221, 240), 0 10px 5px rgb(194, 221, 240);
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
        }
    }
}

.features-sect {
    background: #ffffff;
    padding-bottom: 90px;
    font-family: 'Raleway', sans-serif;

    .features-title {
        display: flex;
        justify-content: center;
        font-size: 1.7em;
        font-weight: 900;
        // color: #295979;
        color: #1B7EC2;
        margin-bottom: 3%;
        padding-top: 3%;
        text-transform: uppercase;
    }
    .features-row {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 320px;
        margin-bottom: 1%;
        .feature {
            position: relative;
            display: inline-block;
            height: 100%;
            width: 20%;
            margin-left: 10px;
            background: linear-gradient(45deg, rgba(#1B7EC2,1) 0%, rgba(#23D2FD,1) 100%);
	        box-shadow: 0 5px 20px rgba(#23D2FD,.3);
            text-align: center;
            border-radius: 3%;

            .feature-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 30%;
                font-size: 1.4em;
                font-weight: 900;
                color: #ffffff;
            }
            .feature-content {
                padding: 5%;
                padding-top: 10%;
                color: #ffffff;
                font-size: 1.3em;
                font-weight: 500;
            }
        }
    }
}