.auth-page {
    height: 97%;
    background: #edf3f7;
}

.auth-container {
        position: relative;
        height: 70%;
        left: 40%;
        width: 50%;
        background: #ffffff;
        top: 45%;
        transform: translate(0, -50%);
        padding-top: 5%;

        form{
            position: relative;
            width: 100%;
        }
    }
