.mdl-layout__header .mdl-layout__header-row {
    // background: #ffffff;
    color: #1B7EC2;
    height: 80px;
    box-shadow: none !important;
}

.auth-container {
        position: relative;
        padding-top: 3%;
        left: 40%;
        width: 50%;
    }
